*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h2,h3,a{
    font-family:  Arial, sans-serif
}

.heading{
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 14, 53);
    height: 60px;
}

.logo{
    width: 90px;
    height: 80px;
}

.logodiv{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(14, 14, 53);
}

.loc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(14, 14, 53);
}

.location{
    width: 30px;
    height: 30px;
}

.mainlocation{
    display: flex;
}

.searchbar{
    display: flex;
    align-items: center;
}

#search{
    width: 600px;
    height: 40px;
    border: 0 solid;
}

.glass{
    width: 30px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#categories {
    background-color: rgb(232, 227, 227);
    height: 40px;
    width: 50px; 
    border: 0 solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.one{
    color: white;
    font-size: 14px;
}

.two{
    color: white;
    font-size: 19px;
}

#cartdiv{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(14, 14, 53);
}

.cart{
    height: 30px;
    width: 30px;
}

.hello,.returns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid rgb(14, 14, 53);
}

.langdiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#lang{
    background-color: rgb(14, 14, 53);
    color: white; 
    border: 0;  
    font-size: 18px;
    height: 30px;
}

.bar{
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(52, 52, 82);
}

.options{
    display: flex;
    gap: 0;
    align-items: center;
}

.shop{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(14, 14, 53);
}

.img{
    height: 450px;
    width: 100%;
}

.divimg{
    height: 200px;
}

.container{
    padding-left: 25px;
    height: 900px;
    display: grid;
    grid-template-columns:  repeat(4,1fr);;
    grid-template-rows:  repeat(2,1fr);;
    background-color: rgb(237, 231, 231);
}

.wrapper{
    height: 420px;
    width: 350px;
    background-color: white;
    padding-top: 10px;
}

.img1{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 250px;
    width: 350px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.a1{
    text-decoration: none;
    color: black;
}

.a2{
    text-decoration: none;
    color: rgb(62, 62, 242);
    display: flex;
    align-items: end;
}

.scrollbar{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    gap: 1rem;
    height: 400px;
    overflow-x: auto;
    white-space: nowrap;
}

.subscrollbar{
    height: 400px;
    width: 370px;
    background-color: rgb(255, 255, 255);
}

.thirdcontainer{
    background-color: rgb(237, 231, 231);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fur{
    height: 50px;
    background-color: white;
    padding-left: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.furniture,.nearby{
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    height: 350px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 10px;
}

.scrollitems{
    background-color: rgb(237, 231, 231);
    height: 860px;
}

.seclastdiv{
    display: flex;
    gap: 2rem;
}

.i{
    height: 300px;
    width: 300px;
}

.rec{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(99, 98, 98);
    border-bottom: 1px solid rgb(99, 98, 98);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.starthere{
    display: flex;
}

.last{
    height: 45px;
    background-color: rgb(75, 75, 98);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lastsubdiv{
    display: flex;
    flex-direction: column;
}

.lastdiv{
    padding-top: 30px;
    padding-left: 280px;
    background-color: rgb(57, 57, 68);
    height: 200px;
    color: white;
    display: flex;
    gap: 8rem;
    border-bottom: 1px solid rgb(225, 222, 222);
}

.seclastdiv{
    background-color: rgb(57, 57, 68);
    display: flex;   
    justify-content: center;
    align-items: center;
}

.lstimg{
    height: 50px;
    width: 90px;
}

.sign{
    height: 35px;
    width: 120px;
    background-color: rgb(219, 150, 47);
}


.services{
    background-color: rgb(51, 51, 54);
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.lastlinks{
    display: flex;
    gap: 2rem;
}

.lastlast{
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
}

.copyright_segment{
    background-color: rgb(51, 51, 54);
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conditions{
    display: flex;
    gap: 1.5rem;
}

.aa{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid  rgb(52, 52, 82);
}

.aa:hover{
    border: 1px solid white;
    border-radius: 3px;
    /* transform:perspective(300px) translateZ(30px); */
}

.shop:hover{
    border: 1.5px solid white;
    border-radius: 3px;   
} 
 
.logodiv:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

.hello:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

.returns:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

#cartdiv:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

.loc:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

.border:hover{
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.img1:hover{
    transform:perspective(300px) translateZ(40px);
}

.i:hover{
    transform:perspective(300px) translateZ(40px);
}

ul{
    list-style-type: none;
}
